# node_modules klasörü
node_modules/

# .env dosyaları
test.env
.env.local
.env.*.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

# Derlenmiş dosyalar
*.log
*.pem

# Geçici dosyalar
*.tmp
*.swp
.DS_Store
Thumbs.db

# Yedek dosyalar
*.bak
*.backup
*.old

# VS Code önbellek dosyaları
.vscode/